@using Microsoft.AspNetCore.Identity
@using MPM_Betting.DataModel.User

@inject SignInManager<MpmUser> SignInManager
@inject NavigationManager NavigationManager

<ul class="NavBarList">
    <li  class="@(NavigationManager.Uri.Contains("manage/profile") ? "active" : "")">
        <i class="fa-solid fa-user"></i>
        <a href="account/manage/profile">Profile</a>
    </li>
    <li  class="@(NavigationManager.Uri.Contains("manage/email") ? "active" : "")">
        <i class="fa-solid fa-envelope"></i>
        <a href="account/manage/email">Email</a>
    </li>
    <li  class="@(NavigationManager.Uri.Contains("manage/changePassword") ? "active" : "")">
        <i class="fa-solid fa-lock"></i>
        <a href="account/manage/changePassword">Password</a>
    </li>
    @if (m_HasExternalLogins)
    {
        <li  class="@(NavigationManager.Uri.Contains("manage/externalLogins") ? "active" : "")">
            <i class="fa-solid fa-door-open"></i>
            <a href="account/manage/externalLogins">External Logins</a>
        </li>
    }
    <li class="@(NavigationManager.Uri.Contains("manage/twoFactorAuthentication") ? "active" : "")">
        <i class="fa-solid fa-shield"></i>
        <a href="account/manage/twoFactorAuthentication">2FA</a>
    </li>
    <li  class="@(NavigationManager.Uri.Contains("manage/personalData") ? "active" : "")">
        <i class="fa-solid fa-file-pen"></i>
        <a href="account/manage/personalData">PersonalData</a>
    </li>
</ul>

@* <ul class="nav nav-pills flex-column"> *@
@*     <li class="nav-item"> *@
@*         <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink> *@
@*     </li> *@
@*     <li class="nav-item"> *@
@*         <NavLink class="nav-link" href="Account/Manage/Email">Email</NavLink> *@
@*     </li> *@
@*     <li class="nav-item"> *@
@*         <NavLink class="nav-link" href="Account/Manage/ChangePassword">Password</NavLink> *@
@*     </li> *@
@*     @if (m_HasExternalLogins) *@
@*     { *@
@*         <li class="nav-item"> *@
@*             <NavLink class="nav-link" href="Account/Manage/ExternalLogins">External logins</NavLink> *@
@*         </li> *@
@*     } *@
@*     <li class="nav-item"> *@
@*         <NavLink class="nav-link" href="Account/Manage/TwoFactorAuthentication">Two-factor authentication</NavLink> *@
@*     </li> *@
@*     <li class="nav-item"> *@
@*         <NavLink class="nav-link" href="Account/Manage/PersonalData">Personal data</NavLink> *@
@*     </li> *@
@* </ul> *@

@code {
    private bool m_HasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        m_HasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }

}