@namespace MPM_Betting.Blazor.ComponentLibrary.DesktopView
@using Blazorise
@using LanguageExt
@using OneOf.Types
@using SharpCompress
@attribute [StreamRendering(true)]

@* TODO - Search -> Ask gabriel *@

<div class="MatchesDateBox">
    <div class="DateBox">
        <div onclick="@(() => UpdateDay(-1))" class="DateLeftArrow"><img src="./Images/Arrow_left.png"/></div>
        <div class="DatePicker">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <DatePicker class="DatePicker" Background="Background.Secondary" TextColor="TextColor.Light" @ref="@datePicker" TextAlignment="TextAlignment.Center" TValue="DateTime?" @bind-Date="@Value"/>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Background="Background.Secondary" Color="Color.Light" Clicked="@(() => datePicker.ToggleAsync())">
                        <Icon Name="IconName.CalendarCheck" IconStyle="IconStyle.Solid"/>
                    </Button>
                </Addon>
            </Addons>
        </div>
        <div onclick="@(() => UpdateDay(1))" class="DateRightArrow"><img src="./Images/Arrow_left.png"/></div>
    </div>
</div>


@code {
    [Parameter]
    public Matches MatchesPage { get; set; }
    DatePicker<DateTime?> datePicker;

    
    DateTime? date;

    public DateTime? Value
    {
        get => date;
        set
        {
            date = value;
            StateHasChanged();
            MatchesPage.SelectedDate = value.IsNull() ? DateTime.Now : value.Value;
        }
    }
    
    
    protected override async Task OnInitializedAsync()
    {
        Value = new DateTime(2024, 5, 19);
    }
    
    public bool _isOpen = true;

    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }
    
    public void UpdateDay(int amount)
    {
        Value = Value.Value.AddDays(amount);
    }
}